.SideNavBt {
  border-radius: 20px;
  width: 100%;
  padding: 5%;
  background-color: rgba(40, 40, 40, 0.4);

  font-size: 20px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

.SideNavBt:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.SideNavBt:active {
  text-shadow: 0px 5px #666;
  transform: translateY(4px);
}
