.Main {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;

  .MainLeft,
  .MainRight {
    background-color: rgb(225, 225, 225, 0.7);
    margin: 0px 7px;
    padding: 1%;
    border-radius: 15px;
  }
}
